
<body class="home page page-id-5 page-template-default custom-background masthead-fixed grid">
<div id="page" class="hfeed site">
	
	<header id="masthead" class="site-header" role="banner">
		<div class="header-main">
			<h1 class="site-title"><a href="http://spindelnet.dk/" rel="home">SpindelNet</a></h1>

			
			<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
				<button class="menu-toggle">Primary Menu</button>
				<a class="screen-reader-text skip-link" href="#content">Skip to content</a>
<div class="nav-menu"><ul>
      <li class="page_item page-item-5"><a href="/">Introduktion</a></li>
</ul></div>
			</nav>
		</div>

		
	</header><!-- #masthead -->

	<div id="main" class="site-main">

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
