		</div><!-- #content -->
	</div><!-- #primary -->
	<div id="content-sidebar" class="content-sidebar widget-area" role="complementary">
	
</div><!-- #content-sidebar -->
</div><!-- #main-content -->
<div id="secondary">
	<h2 class="site-description">IT konsulent</h2>
</div><!-- #secondary -->
<!-- Your Google Analytics Plugin is missing the tracking ID -->
	</div><!-- #main -->
		<footer id="colophon" class="site-footer" role="contentinfo">
Not WordPress
		</footer><!-- #colophon -->
	</div><!-- #page -->
	<script type="text/javascript" src="/js/functions.js"></script>
</body>
